{% extends 'employee/emp_index.html' %}
{% block title %}
<title>E-SM - Lập hồ sơ người học</title>
{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/employee.css') }}" rel="stylesheet">
{% endblock %}
{% block emp_content %}
<div class="bg-white" id="form_add_container">
    <div class="row">
        <div class="col">
            <label for="full_name_student" class="form-label">Họ tên người học</label>
            <input id="full_name_student" type="text" class="form-control" placeholder="Họ tên người học">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="gender_student" class="form-label">Giới tính</label>
            <select id="gender_student" class="form-select">
                <option value="" selected disabled>Giới tính</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <div class="col">
            <label for="birthday_student" class="form-label">Ngày sinh</label>
            <input id="birthday_student" type="date" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="phone_student" class="form-label">Số điện thoại</label>
            <input id="phone_student" type="tel" class="form-control" placeholder="Số điện thoại">
        </div>
        <div class="col">
            <label for="email_student" class="form-label">Email</label>
            <input id="email_student" type="email" class="form-control" placeholder="Email">
        </div>
    </div>
</div>
{% endblock %}