/* block 'emp_index '*/
#emp_content_container{
    margin-top: 20px;
}
.card{
    border-radius: 0px;
}
.card:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19)
}
.card-img-top{
    border-radius: 0px;
}
.card-body a{
    text-decoration: none;
    color: #07689f;
}
.card-body a:hover{
    text-decoration: underline;
}
/* endblock 'emp_index '*/


/* block 'list_student' */
.my-caption-box{
    padding: 10px;
    border-top: 5px solid #07689f;
    color: #07689f;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff;
}
#table-student{
    padding: 0px 10px 10px 10px;
    background-color: #ffffff;
}
#search-student{
    width: 50%;
}
#search-student, #search-filter{
    border-radius: 0px;
}
#search-student-container{
    padding: 0px 10px;
    background-color: #ffffff;
}
/* endblock 'list_student' */



/* block 'list_class' */
#table-class{
    padding: 0px 10px 10px 10px;
    background-color: #ffffff;
}

#search-class{
    width: 50%;
}
#search-class, #search-filter{
    border-radius: 0px;
}
/* endblock 'list_class' */

/* block 'add_student' */
#form-add-student{
    padding: 0px 10px 10px 10px;
    background-color: #ffffff;
}
.my-form{
    margin-bottom: 20px;
    border-radius: 0px;
}
/* endblock 'add_student' */